files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFaDCCBFCgAwIBAgIJAMVsxme+imWRMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
        VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
        MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
        cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
        dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTE2MDgxNjA2MzkzOFoX
        DTE3MDgxNjA2MDAzOFowOTEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
        dGVkMRQwEgYDVQQDEwtqdXN0YnJnLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEP
        ADCCAQoCggEBAMUQUscBc9mYu+LOi5BCJMqmWE2yXVli1repOQE2g87f49HozKqW
        i7F8UvE37gLUIZ9xoVZQ0QrLRpGODDCq6uyZ707eNss9FZ2stsCKuP0MUSf8xYwm
        vi+HM/RnrJIT2x4T9YL1np9ozavEJSxe6QrzwN8NcgGBIFOIjkj7VjuBnfvcolSV
        wEV+skzVsjWL6nrXFp+9Dqrr4K/APsszKZGrfLe+1no0ADjq698CyUajxfKCkqYO
        1S9oCXxLg0+AzgU66QIz37YZfDrjjWAkLpYsRiqZEEaabjhCJlT+jG+IyWCLFcxi
        lKM+YA56IrQGkNzckWwUuAWhoGrQIqZ62YsCAwEAAaOCAfUwggHxMAwGA1UdEwEB
        /wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA4GA1UdDwEB/wQE
        AwIFoDA3BgNVHR8EMDAuMCygKqAohiZodHRwOi8vY3JsLmdvZGFkZHkuY29tL2dk
        aWcyczEtMjg2LmNybDBdBgNVHSAEVjBUMEgGC2CGSAGG/W0BBxcBMDkwNwYIKwYB
        BQUHAgEWK2h0dHA6Ly9jZXJ0aWZpY2F0ZXMuZ29kYWRkeS5jb20vcmVwb3NpdG9y
        eS8wCAYGZ4EMAQIBMHYGCCsGAQUFBwEBBGowaDAkBggrBgEFBQcwAYYYaHR0cDov
        L29jc3AuZ29kYWRkeS5jb20vMEAGCCsGAQUFBzAChjRodHRwOi8vY2VydGlmaWNh
        dGVzLmdvZGFkZHkuY29tL3JlcG9zaXRvcnkvZ2RpZzIuY3J0MB8GA1UdIwQYMBaA
        FEDCvSeOzDSDMKIz1/tss/C0LIDOMGIGA1UdEQRbMFmCC2p1c3RicmcuY29tgg93
        d3cuanVzdGJyZy5jb22CEGFwaXMuanVzdGJyZy5jb22CE2NyYXdsZXIuanVzdGJy
        Zy5jb22CEmhvdGVscy5qdXN0YnJnLmNvbTAdBgNVHQ4EFgQU5tUxxTgNoCnrxVG3
        3C3aiTzLEX4wDQYJKoZIhvcNAQELBQADggEBAIAa6/wgtrzF5kC38AvyOtSSOuQM
        8fbcacLuMySQnRiJUP5udZTN3AG6oi23B2i/KT8qlQwpPfuLlUP6FofKgkfyweJ5
        FQkicmGOf4JMoL9kl8xaWM5ZNN28HQWybdn3u7y8+L6e0h3PTd4+ebz6s6FkfYJA
        ahXqnL5HivDVHH1o6S7Os4yLoV47OM4tcyCVB/6/5rkV8Y2b0RHuG0YxorfU8mgg
        gPli4R7Y464MMT3dGHyecTqXoBIGr5WkCsGQBuO9MsNMIeIk7975ugMlMCPpvLhI
        QFTsA00olLkmLlQ57nQXAped/rB0Myt2ZkepG6/BkoToZ5Oc3m3nrJn4MWI=
        -----END CERTIFICATE-----



  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDFEFLHAXPZmLvi
        zouQQiTKplhNsl1ZYta3qTkBNoPO3+PR6MyqlouxfFLxN+4C1CGfcaFWUNEKy0aR
        jgwwqursme9O3jbLPRWdrLbAirj9DFEn/MWMJr4vhzP0Z6ySE9seE/WC9Z6faM2r
        xCUsXukK88DfDXIBgSBTiI5I+1Y7gZ373KJUlcBFfrJM1bI1i+p61xafvQ6q6+Cv
        wD7LMymRq3y3vtZ6NAA46uvfAslGo8XygpKmDtUvaAl8S4NPgM4FOukCM9+2GXw6
        441gJC6WLEYqmRBGmm44QiZU/oxviMlgixXMYpSjPmAOeiK0BpDc3JFsFLgFoaBq
        0CKmetmLAgMBAAECggEAENXvLH9MRXfN/XeF5uIvwHxrqN+nJ/7Qt0omy5q7sg3g
        qctIyP4pmxUzBNaxZ951rOiJTxWCdnidY8wN8I55mZMhJczIQ57JXPondtWjLkNC
        H7dxrSKWNvtHDgdZb/VwT+aGoBSZ46aRg64zOtI0+LGQdb3xUn2UpG5TMZr/Z//p
        NfwrNVDf0kzA91+HcT6TSZTdiLuVrEuL68omqgJRAcMZzOuPaw3cM9KIZqKfGkRf
        bs52KYRcuwlpcDiXzcPJ3hvhVRo2HVeBHWqzHY5wRr1A0baWPn0veg2xcH9kYSIG
        /oDr+fMnImsw9XNcyAx5Xh/z21OzBcYRbwR+Qj2DmQKBgQD9Z8rC1+abD1+bgpKN
        2gwO1eSC6k6zOQOJvFqWQqy+A78RUK4Y4pZIWvdDDJOpy7X5L4aaqoyzf0ndepDq
        7upomezhJ/UhDDM3T1exmzQmYsVK4r0lg4k48EvQDnBHUvKY19yy0gli+LWiFz8d
        KNSFCRqVfIQ/fky28LgCgYQj/QKBgQDHFNpEAjCgA5JjjWIPD6Ukp+mcL4zhmaFe
        V6nDl/rrkttLKtUaYXfNdmcNfsLOmi5rXVkbU67WOkja3b5vTVtiooDalo0Ossl9
        KY3v94bsfB9ay+MNO7WJQydUNZm0yaCner1clSiiBpqxl2GxNnXJr2TNeBDvVvQE
        RDDZSWo2JwKBgQCLsE6Oj/OYYKYklJrzRVLGTtRz8nPFylUP9Vu+XyzYZjpKcj42
        i5mqczLArEsuG5TJs5Aw7Hk5bZ6rT6hZSbDATrHNAHjZad9FyyAdUOAzlNkLSehY
        qKTZVWWFYKA2QRxocv4/ORdhjpaZrtTk3yAf4f/cjdJdKeNiKVpWT00nhQKBgGGQ
        kJ8/y4C//2AWi/YBntdmCxDmJM7zMahAogwfUXNd12bxKNry5XmmCz8L3oDOAu3P
        I7pGuqp2ifnpLkjxylV+elOl8J9Bc4mJcewmjNMcyWj//tgfaQpKBN46HogBQGCT
        wHW9C9rMDcf2/oOQww0Cjg48R2BkZtYobSAv4IOFAoGAKKpx1JVOG/AUmg/+Nr4m
        TCP8U7C4d+48pwI6wwr0BB+sX1DnQCmIeIeQD4vd/lGFWLMvWkw0CxU2SA0yxqw1
        Km77K56bYterKGnvlCDuI76e7yXxDAhoFlLerd2Li9aZRAw0QgL9ZNn87WndYbPz
        9ihE0LJbfI0jfM/Qh/TNr+w=
        -----END PRIVATE KEY-----
