files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFaDCCBFCgAwIBAgIJAMVsxme+imWRMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
        VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
        MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
        cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
        dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTE2MDgxNjA2MzkzOFoX
        DTE3MDgxNjA2MDAzOFowOTEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
        dGVkMRQwEgYDVQQDEwtqdXN0YnJnLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEP
        ADCCAQoCggEBAMUQUscBc9mYu+LOi5BCJMqmWE2yXVli1repOQE2g87f49HozKqW
        i7F8UvE37gLUIZ9xoVZQ0QrLRpGODDCq6uyZ707eNss9FZ2stsCKuP0MUSf8xYwm
        vi+HM/RnrJIT2x4T9YL1np9ozavEJSxe6QrzwN8NcgGBIFOIjkj7VjuBnfvcolSV
        wEV+skzVsjWL6nrXFp+9Dqrr4K/APsszKZGrfLe+1no0ADjq698CyUajxfKCkqYO
        1S9oCXxLg0+AzgU66QIz37YZfDrjjWAkLpYsRiqZEEaabjhCJlT+jG+IyWCLFcxi
        lKM+YA56IrQGkNzckWwUuAWhoGrQIqZ62YsCAwEAAaOCAfUwggHxMAwGA1UdEwEB
        /wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA4GA1UdDwEB/wQE
        AwIFoDA3BgNVHR8EMDAuMCygKqAohiZodHRwOi8vY3JsLmdvZGFkZHkuY29tL2dk
        aWcyczEtMjg2LmNybDBdBgNVHSAEVjBUMEgGC2CGSAGG/W0BBxcBMDkwNwYIKwYB
        BQUHAgEWK2h0dHA6Ly9jZXJ0aWZpY2F0ZXMuZ29kYWRkeS5jb20vcmVwb3NpdG9y
        eS8wCAYGZ4EMAQIBMHYGCCsGAQUFBwEBBGowaDAkBggrBgEFBQcwAYYYaHR0cDov
        L29jc3AuZ29kYWRkeS5jb20vMEAGCCsGAQUFBzAChjRodHRwOi8vY2VydGlmaWNh
        dGVzLmdvZGFkZHkuY29tL3JlcG9zaXRvcnkvZ2RpZzIuY3J0MB8GA1UdIwQYMBaA
        FEDCvSeOzDSDMKIz1/tss/C0LIDOMGIGA1UdEQRbMFmCC2p1c3RicmcuY29tgg93
        d3cuanVzdGJyZy5jb22CEGFwaXMuanVzdGJyZy5jb22CE2NyYXdsZXIuanVzdGJy
        Zy5jb22CEmhvdGVscy5qdXN0YnJnLmNvbTAdBgNVHQ4EFgQU5tUxxTgNoCnrxVG3
        3C3aiTzLEX4wDQYJKoZIhvcNAQELBQADggEBAIAa6/wgtrzF5kC38AvyOtSSOuQM
        8fbcacLuMySQnRiJUP5udZTN3AG6oi23B2i/KT8qlQwpPfuLlUP6FofKgkfyweJ5
        FQkicmGOf4JMoL9kl8xaWM5ZNN28HQWybdn3u7y8+L6e0h3PTd4+ebz6s6FkfYJA
        ahXqnL5HivDVHH1o6S7Os4yLoV47OM4tcyCVB/6/5rkV8Y2b0RHuG0YxorfU8mgg
        gPli4R7Y464MMT3dGHyecTqXoBIGr5WkCsGQBuO9MsNMIeIk7975ugMlMCPpvLhI
        QFTsA00olLkmLlQ57nQXAped/rB0Myt2ZkepG6/BkoToZ5Oc3m3nrJn4MWI=
        -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQD3UtB9sFNWOnHc
        1DH15r7yd7m+n1L2MzUvAhRMOXklhPhEBcB17TMw5SCKvCvaI4eHhKavS3UMZnT3
        HlTpVtiu8u/5w3jxa6zCk2zEDAAEdbf11EsASqwhvgP4pPg8JDRVUmW3qWS1Jn5W
        oVniixAV2c+VoFc4tvKCwfH8woAOSa7jMuSqjXaLtbABRv6wpYcRHBe6n/gugLBc
        78SUO5QC0IxggReqLidjdOwlzPhIQFcPxQUkromkiQOEmFWNPmFMUiC83Sv1Ufph
        luKYSijyurnp2MDS+45S3ZtXLPY24uJ3rHxkvjKPcB8l/852HeR/hqnDMyQVSdGi
        h0Gt/nPxAgMBAAECggEALKujhqAbXT6vJCCbaXukz2x6ewiR1nAHUhdBDUdwLyum
        H7seOO5/yXwI9aXpEbxLFVoLNSwe1v+Gbr/mvEJ4Xpj4aRc6N/inunkgMwSr2CJe
        +KLAbSwPjQSh+P3q7Anp/eMlBhgtXV63gPQhpP5TCG9PxAmy10aL5Lwc9fc3Y9zm
        Nxb95UQIU/F/PzbhhyjJDsmr2DI9qBpCZyT148eJfXmO9r8XUve2iMSBzwTn9/zx
        N+3GEeM9doOX9V/oVzpUiS+56kNKO8EfJQfvhkiLtxMB8Fk0IcbdQzBANos11Ray
        nUdDVpmcu/ixmtTwnaAYTKeQ+qCNGbJ4gvxOCyETJQKBgQD/EhXptMd9qjoEqwC+
        ufrUIChDAEHdEJWYIVr/UD60TmSHuuE1GfXSZ0CUj61igDJoyXGQ3O8LFCLyjtpo
        AakmshN65jbw01qd3KzHok2JPTHpzXCB6PpFlz2pfpc/mePMmW8KCkx6ZtLpAU46
        URcKvQtNlp7HBNjOtW/AogXSwwKBgQD4OYC0BIDArCeJJpsDFRbfgJV62T/PPdd9
        VKkkfs3k2g1TQUCCClNrfRRX2y9UcsJRZP5O8AWUiuHvohzghdZU49B/sEG9oTDZ
        MjXwhhYv57ynHrJUbvfwuyjV6IPMRvPNcIG7U3s6YmoB96d9o+XIzzkfyX6MNLgo
        +t9LbH2LOwKBgGIkE0pYxGkVlj01jpPT+y6jMNqWvsDQIL7oFpslxPqbLxMKVJyZ
        4HuUPsTqg0vjB4JJ/+g9GbypgsjRLjfWa773xYcEDR+cMsGKpvApAqxLX2kWIrPZ
        cHJWPuN4Ubmm/H88ifzS+Zoe9gew+Oh3SuZW1oKD8ZOhycm/BcCYlqUBAoGAJ6jQ
        VnLNu3sGChS/+ZsZ/3XE7E7fshX4Yw7uw2T7MpBgRqgLTXum3mqqoGrlwgFf6K9R
        Ln2M9rHF7YqiQIFBwGhxvKUFq+2gJ2OtWJOj4d2Nt8ngxjrApJbSrHKs9Ct18qIC
        KFLrQmXM+CmAekOAiDgLsXd5H5+guPN0T9GysVcCgYBmYGmgGs4nABlfkZG5sxXy
        f0d7ZRwxMtEvGfnwb0gvrmqJXNfzLNqn2Sr5wfzQwg4hniNFiSSEIIzVAHcylenO
        7vrMMTQM3V2XdImJlDHftKg5gLFpfEPX7EbzkmCCVf8xuDuL/HtxQVtjsvbsrcvZ
        IfxIO2wDiBWsx5ui72K/Lw==
        -----END PRIVATE KEY-----
